@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../../web-fonts/Roboto-Bold/Roboto-Bold.eot');
  src: url('../../../web-fonts/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
  url('../../../web-fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
  url('../../../web-fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype'),
  url('../../../web-fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../../web-fonts/Roboto-Medium/Roboto-Medium.eot');
  src: url('../../../web-fonts/Roboto-Medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Roboto-Medium/Roboto-Medium.woff2') format('woff2'),
  url('../../../web-fonts/Roboto-Medium/Roboto-Medium.woff') format('woff'),
  url('../../../web-fonts/Roboto-Medium/Roboto-Medium.ttf') format('truetype'),
  url('../../../web-fonts/Roboto-Medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../../web-fonts/Roboto-Regular/Roboto-Regular.eot');
  src: url('../../../web-fonts/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
  url('../../../web-fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  url('../../../web-fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype'),
  url('../../../web-fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
@font-face {
  font-family: 'Nunito-Semibold';
  src: url('../../../web-fonts/Nunito-SemiBold/Nunito-SemiBold.eot');
  src: url('../../../web-fonts/Nunito-SemiBold/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Nunito-SemiBold/Nunito-SemiBold.woff2') format('woff2'),
  url('../../../web-fonts/Nunito-SemiBold/Nunito-SemiBold.woff') format('woff'),
  url('../../../web-fonts/Nunito-SemiBold/Nunito-SemiBold.ttf') format('truetype'),
  url('../../../web-fonts/Nunito-SemiBold/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('../../../web-fonts/Nunito-Regular/Nunito-Regular.eot');
  src: url('../../../web-fonts/Nunito-Regular/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Nunito-Regular/Nunito-Regular.woff2') format('woff2'),
  url('../../../web-fonts/Nunito-Regular/Nunito-Regular.woff') format('woff'),
  url('../../../web-fonts/Nunito-Regular/Nunito-Regular.ttf') format('truetype'),
  url('../../../web-fonts/Nunito-Regular/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('../../../web-fonts/Nunito-Bold/Nunito-Bold.eot');
  src: url('../../../web-fonts/Nunito-Bold/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../web-fonts/Nunito-Bold/Nunito-Bold.woff2') format('woff2'),
  url('../../../web-fonts/Nunito-Bold/Nunito-Bold.woff') format('woff'),
  url('../../../web-fonts/Nunito-Bold/Nunito-Bold.ttf') format('truetype'),
  url('../../../web-fonts/Nunito-Bold/Nunito-Bold.svg#Nunito-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

*/
