.icon {
  width: 20px;
  height: 20px;

  &--mr {
    margin-right: 14px;
  }
}


.icon-menu {
  font-size: 15px;
  color: #C2CFE0;

  &--mr {
    margin-right: 16px;
  }
}

.icon-info {
  font-size: 12px;
  color: #507FF9;
}

.icon-info {
  color: #507FF9;
  font-size: 12px;

}